<div ng-app="pebbleLogsApp" ng-controller="MainCtrl">

  <ng-react-grid grid="grid"></ng-react-grid>

</div>

<!-- Scripts -->
<script src="/bower_components/angular/angular.js"></script>
<script src="/bower_components/angular-resource/angular-resource.min.js"></script>
<script src="/bower_components/react/react.min.js"></script>
<script src="/js/vendor/ngReactGrid/js/ngReactGrid-0.5.0.min.js"></script>
<script src="/js/logs/app.js"></script>
