<div ng-app="pebbleLogsApp" ng-controller="MainCtrl">
  <table class="table striped">
    <thead>
      <tr>
        <th>Date</th>
        <th>Lat</th>
        <th>Lon</th>
        <th># Results</th>
        <th>Name</th>
        <th>Address</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="log in logs">
        <td ng-bind="log.createdAt | date: 'medium'"></td>
        <td ng-bind="log.request.lat | toPrecision:6"></td>
        <td ng-bind="log.request.lon | toPrecision:6"></td>
        <td ng-bind="log.response.data.length"></td>
        <td ng-bind="log.response.data[0].name"></td>
        <td ng-bind="log.response.data[0].address"></td>
      </tr>
    </tbody>
  </table>
</div>

<!-- Scripts -->
<script src="/bower_components/angular/angular.js"></script>
<script src="/bower_components/angular-resource/angular-resource.min.js"></script>
<script src="/js/logs/app.js"></script>
